* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: black
}
header {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column-reverse;
}
.scroll-side {
  width: 100%;
  height: 50px;
  position: relative;
}
.scroll-side p {
  width: 100%;
  font-weight: 300;
  display: block;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
}
.header {
  width: 100%;
  background: #e65d5d;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.header nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header nav a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
  padding: 0 10px;
  font-size: 1.1rem;
}
.header-text {
  margin-top: auto;
  padding: 20px;
  font-size: 3rem;
  font-weight: 300;
}

section.what-we-do {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

section.what-we-do p {
  font-size: 1.3rem;
  font-weight: 300;
  width: 100%;
  padding: 20px;
  line-height: 40px;
}

section.what-we-do p a {
  color: #e65d5d;
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 20px;
  display: block;
}
section.our-process {
  height: fit-content;
  padding: 20px 20px 10px 20px;
  background: #e65d5d;
}
section.our-process p {
  font-weight: 300;
  font-size: 3rem;
}

.stages {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  margin: 70px auto 10px auto;
  padding-bottom: 20px;
}
.single-stage {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.single-stage .stage-number {
  font-size: 1.4rem;
  font-weight: 300;
  margin-right: 20px;
  padding-top: 53px;
}
.single-stage .stage-heading {
  padding: 0;
  font-size: 2rem;
  font-weight: 400;
}
.single-stage .stage-brief {
  color: #fff;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 32px;
  margin-top: 40px;
}

.our-quote {
  height: fit-content;
  padding: 20px;
}

.our-quote p {
  padding-left: 0;
  font-size: 2.3rem;
  width: 100%;
  font-weight: 300;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-quote {
  height: fit-content;
  padding: 20px;
}

.footer-quote p {
  padding-left: 0;
  font-size: 2.3rem;
  width: 100%;
  font-weight: 300;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-search {
  width: 90%;
  margin: auto;
  border-bottom: 1px solid #999;
}
.footer-search input {
  width: 90%;
  padding: 20px 0;
  font-size: 1.3rem;
  font-weight: 300;
  border: none;
}
.footer-search button {
  font-size: 1.3rem;
  border: none;
  color: #e65d5d;
  font-weight: 300;
  outline: none;
  cursor: pointer;
}
section.quick-links {
  height: fit-content;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}
section.quick-links div {
  margin-bottom: 10px;
}
section.quick-links div a {
  font-size: 0.9rem;
  color: #000;
  text-decoration: none;
  font-weight: 300;
  padding: 10px 5px;
}
section.quick-links div.legal a {
  color: #999;
  font-size: 0.9rem;
}
section.our-goal {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.accordion-buttons {
  width: 100%;
  background: #fff;
  display: flex;
  padding-left: 20px;
  flex-direction: row;
}
.accordion-buttons span {
  padding: 15px 10px 15px 0;
  font-size: 1rem;
  font-weight: 300;
  color: #999;
  cursor: pointer;
}
.accordion-buttons .active {
  color: #000;
}
.accordion-details {
  width: 100%;
  background: #e65d5d;
  padding: 50px 20px;
  padding-right: 0;
}
.accordion-details p {
  color: #fff;
  font-weight: 300;
  font-size: 1.3rem;
  margin-bottom: 50px;
  line-height: 30px;
}
.tabcontent {
  display: none;
  animation: fadeEffect 1s;
}
@media screen and (min-width: 780px) {
  header {
    flex-direction: row;
    height: 90%;
  }
  .scroll-side {
    width: 17%;
    height: 100%;
  }
  .scroll-side p {
    width: 100%;
    transform: rotate(90deg);
    display: block;
    position: absolute;
    bottom: 0;
    text-align: unset;
  }
  .header {
    width: 83%;
    height: 100%;
    padding-right: 30px;
  }
  .header nav {
    justify-content: flex-end;
  }
  .header nav a {
    padding: 0 25px;
  }
  .header-text {
    padding: 70px;
    font-size: 4rem;
  }
  section.what-we-do {
    height: 700px;
    justify-content: flex-end;
    align-items: center;
  }
  section.what-we-do p {
    font-size: 2.3rem;
    width: 70%;
    padding: 20px 180px 20px 0;
    line-height: 70px;
  }
  section.our-process {
    padding: 30px;
  }
  section.our-process p {
    padding: 50px 70px;
    font-weight: 500;
    font-size: 3.3rem;
  }
  .stages {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 90%;
    margin: 70px auto;
    padding-bottom: 80px;
  }
  .single-stage {
    width: 32%;
    margin-bottom: 0;
  }
  .our-quote p {
    padding-left: 70px;
    font-size: 2.3rem;
    width: 88%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-quote p {
    padding-left: 70px;
    font-size: 2.3rem;
    width: 60%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  section.quick-links {
    flex-direction: row;
  }
  section.quick-links div {
    margin-bottom: 0;
  }
  section.quick-links div a {
    font-size: 1.3rem;
    padding: 0 20px;
  }
  section.our-goal {
    display: flex;
    flex-direction: row;
  }
  .accordion-buttons {
    width: 30%;
    padding-left: 90px;
    display: flex;
    flex-direction: column;
  }
  .accordion-buttons span {
    padding: 15px 0;
    font-size: 2.5rem;
  }
  .accordion-details {
    width: 70%;
    padding: 100px 150px 100px 70px;
  }
  .accordion-details p {
    margin-bottom: 50px;
    line-height: 30px;
  }
}
